body{
  background-color: #ccccb3;
  font-family: fantasy;
}

.oma_button{
  background-color: #571926;
  border-color: #571926;
  color:white;
}

.oma_button:hover{
  color:#adb7bc;
}

.otsikko{
  text-align: center;
}

.otsikkokuva{
  width: 100%;
  height: 40vw;
}

.otsikkoteksti {
  color: white;
  position: absolute;
  top: 20vw;
  left: 50%;
  transform: translate(-50%, -50%);
}

.otsikkoteksti h1 {
  font-size: 3em;
}

@media only screen and (max-width: 840px) {
  .otsikkoteksti h1{
    font-size: 1.5em;
  }
}
